
<div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card card-body">
        <h3 class="text-center">Add Your Ideas</h3>
        <form action="/users/register" method="post">
          <div class="form-group">
            <label for="name">Topic</label>
            <input type="text" class="form-control" name="topic" value="" required>
          </div>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" value="" required>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="tet" name="description" class="form-control" value="" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
